body {
    background-color: #1F2937;
}

.first h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first p {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.header li {
    color: #E5E7EB;
}