
body {
    background-color: #1F2937;
    font-family: Roboto;
}

.first {
    display: flex;  
    align-items: center;
}

.first h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first p {
    font-size: 1rem;
    color: #E5E7EB;
}

.first img {
    height: 200px;
    width: 300px;
    margin: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    align-items: center;
}

.header li {
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    size: 30px;
}